html,
body {
	width: 100%;
	height: 100%;
	margin: 0; 
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	background-color: #EDEEF0;
}

.container {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.header {
	width: 100%;
	background: #4A76A8;
	padding: 130px 0;
}

.dscrptn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
}

.dscrptn__img {
	width: 200px;
}

.dscrptn__inner {
	margin-left: 25px;
}

.dscrptn__title {
	margin: 0;
	font-size: 40px;
	font-weight: 600;
}

.dscrptn__text {
	display: block;
	max-width: 450px;
	font-size: 20px;
	margin: 10px 0 20px;
}

.button {
	display: inline-block;
	background: #EDEEF0;
	min-height: 50px;
	line-height: 50px;
	color: #4A76A8;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border-radius: 5px;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: background .3s ease-out;
	-o-transition: background .3s ease-out;
	transition: background .3s ease-out;
}

.button:hover {
	background: #D2D2D2;
}

.demos {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.demos__title {
	display: block;
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 40px;
}

.demos__items {
	font-size: 0;
}

.demos__item {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-bottom: 50px;
	font-size: 12px;

	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.demos__item_100 {
	width: 100%;
}

.demos__item .dropdown {
	width: 100%;
}

.demos__label {
	display: block;
	font-size: 20px;
	font-weight: 600;
}

.demos__text {
	font-size: 13px;
	margin: 7px 0 10px;
}

.demos__list {
	padding: 0;
	list-style: none;
}

.demos__list li:before {
	content: "- ";
}

.snippet {
	position: relative;
	background: #1b192b;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 20px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: auto;
}

.snippet .sn-comment {
	color: #bbbbbb;
}

.snippet .sn-string {
	color: #E6DC6D;
}

.snippet .sn-variable {
	color: #fff;
}

.snippet .sn-keyword {
	color: #60D9F1;
}

.snippet .sn-operator {
	color: #FC1E70;
}

.snippet .sn-boolean {
	color: #AF7DFF;
}

.snippet .sn-method {
	color: #a6e22e;
}

.snippet .sn-fn {
	color: #66d9ef;
}

.snippet .sn-args {
	color: #fd9720;
}

.selected-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.selected-item__avatar {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 5px;
}

@media screen and (max-width: 700px) {
	.dscrptn {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.dscrptn__img {
		width: 140px;
	}

	.dscrptn__inner {
		margin-left: 0;
		margin-top: 10px;
	}

	.dscrptn__text {
		font-size: 17px;
	}

	.button {
		width: 100%;
	}

	.demos__item {
		width: 100%;
		margin-bottom: 25px;
		padding: 0;
	}
}